<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Todo List{% endblock %}

{% block content %}

<p class="heading text-center fs-1">{{ list_name }}</p>

<!-- To-do list -->
<div class="container col-xl-10 col-xxl-8 px-4 py-2">
    <div class="row g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">

        <form id="checkbox" action="{{ url_for('checkbox_clicked') }}" method="post">
            {% for todo in all_todo %}
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" name="completed" value="{{loop.index0}}">
                        {% if todo.completed %}
                            <span class="text-decoration-line-through">{{ todo.name }}</span>
                            <a href="{{ url_for('edit', index=loop.index0) }}" class="btn btn-success">Edit</a>
                            <a href="{{ url_for('delete', index=loop.index0) }}" class="btn btn-danger">Delete</a>
                        {% else %}
                            {{ todo.name }}
                            <a href="{{ url_for('edit', index=loop.index0) }}" class="btn btn-success">Edit</a>
                            <a href="{{ url_for('delete', index=loop.index0) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        </form>

      </div>

<!-- Side menu for adding To-do and deleting completed To-do -->
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="{{ url_for('add') }}" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="mb-3">
              <p class="text-body-secondary">You can add a new thing to do below:</p>
              <input type="text" class="form-control" name="new_todo" placeholder="New Todo" maxlength="250"
                     pattern=".*\S+.*" title="Please enter at least one non-space character" required autofocus >
          </div>
          <button type="submit" class="w-100 btn btn-lg btn-success">Add Todo</button>
          <hr class="my-4">
          <p class="text-body-secondary">You can cross out the selected todo by clicking the button below.</p>
          <button type="submit" class="button btn btn-sm btn-success" form="checkbox">
              Cross out the selected todo
          </button>
        </form>
      </div>
    </div>
</div>
{% endblock %}


</html>
